<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">


    <title>Creations Atelier</title>
</head>
<body>
    <header> 
        <nav class="container d-flex justify-content-between align-items-center my-4 ">
            <div class="d-flex align-items-center flex-wrap nav--cabecalho ">
                <a href="/templates/home.html" class="d-flex justify-content-center align-items-center gap-3 ">
                    <img class="nav-logo" src="../static/img/Heart.png" alt="Logo da Creations Atelier">
                    <img class="nav-creations" src="../static/img/creations.png" alt="Creations Atelier">      
                </a>

                <form class="" action="" method="" >
                    <input class="nav--barra_busca input-group-text form-control" type="text" placeholder="O que deseja encontrar?">
                </form>
            </div>
            
            <a  href="/templates/login.html"><span class="btn btn-login">Login</span></a>

            <img class='nav__lupa' src="/static/img/lupa.png" alt="" >
            

            

        </nav>
    </header>

    <main>
        <div class="container mt-5">
            <div>
                <div class="d-flex justify-content-center produto__card--detalhes">
                    <img class="produto__imagem--detalhes" src="/static/img/Kit Batizado.jpg" alt="">
                    <ul class="produto__card">
                        <li>
                            <h3 class="produto__card produto__titulo mt-2">Kit luxo - Batizado</h3>
                        </li>
                        <li>
                            <h5 class="produto__card produto__preco "><bold>£40.00</bold></h5>
                        </li>
                        <li>
                            <p class="produto__card produto__descricao ">Voluptas voluptatum quibusdam similique, class debitis alias maecenas eveniet ridiculus, facilis fusce! Ullam conubia? Sociis, minima malesuada habitasse distinctio sequi aliqua malesuada. Quisque deleniti proin expedita, aliquid litora. Iste recusandae? Commodo, quia ridiculus doloribus vero dictum? Penatibus donec placeat faucibus, dolorum do. Animi porta anim magnam</p>
                        </li>  
                    </ul>
                </div>
            </div>
        </div>


        <div class="container linha-produtos my-4 py-4">
            <div class="topo d-flex justify-content-between">
                <h3 class="tipo-produtos">Produtos relacionados</h3>
            </div>
            <div class="produtos mt-1 d-flex">
                <div class="produto d-flex">
                    <ul class="produto__card">
                        <li >
                            <img class="produto__card produto__imagem" src="/static/img/Kit Batizado.jpg" alt="">
                        </li>
                        <li>
                            <h5 class="produto__card produto__titulo mt-2">Kit luxo - Batizado</h4>
                        </li>
                        <li>
                            <h4 class="produto__card produto__preco "><bold>£40.00</bold></h3>
                        </li>
                        <li>
                            <a class="produto__card produto__link " href="/templates/produto.html">Ver produto</a>
                        </li>
                    </ul>
                </div>
            
                <div class="produto d-flex">
                    <ul class="produto__card">
                        <li >
                            <img class="produto__card produto__imagem" src="/static/img/Kit Teen Titans Go3.jpg" alt="">
                        </li>
                        <li>
                            <h5 class="produto__card produto__titulo mt-2">Kit Classico - Teen Titans</h4>
                        </li>
                        <li>
                            <h4 class="produto__card produto__preco "><bold>£30.00</bold></h3>
                        </li>
                        <li>
                            <a class="produto__card produto__link "href="/templates/produto.html">Ver produto</a>
                        </li>
                    </ul>
                </div>

                <div class="produto d-flex">
                    <ul class="produto__card">
                        <li >
                            <img class="produto__card produto__imagem" src="/static/img/Naycilly GiftBox 3.jpg" alt="">
                        </li>
                        <li>
                            <h5 class="produto__card produto__titulo mt-2">Box Presente</h4>
                        </li>
                        <li>
                            <h4 class="produto__card produto__preco "><bold>£15.00</bold></h3>
                        </li>
                        <li>
                            <a class="produto__card produto__link "href="/templates/produto.html">Ver produto</a>
                        </li>
                    </ul>
                </div>
                <div class="produto d-flex">
                    <ul class="produto__card">
                        <li >
                            <img class="produto__card produto__imagem" src="/static/img/Kit Batizado.jpg" alt="">
                        </li>
                        <li>
                            <h5 class="produto__card produto__titulo mt-2">Kit luxo - Batizado</h4>
                        </li>
                        <li>
                            <h4 class="produto__card produto__preco "><bold>£40.00</bold></h3>
                        </li>
                        <li>
                            <a class="produto__card produto__link " href="/templates/produto.html">Ver produto</a>
                        </li>
                    </ul>
                </div>
            
                <div class="produto d-flex">
                    <ul class="produto__card">
                        <li >
                            <img class="produto__card produto__imagem" src="/static/img/Kit Teen Titans Go3.jpg" alt="">
                        </li>
                        <li>
                            <h5 class="produto__card produto__titulo mt-2">Kit Classico - Teen Titans</h4>
                        </li>
                        <li>
                            <h4 class="produto__card produto__preco "><bold>£30.00</bold></h3>
                        </li>
                        <li>
                            <a class="produto__card produto__link "href="/templates/produto.html">Ver produto</a>
                        </li>
                    </ul>
                </div>

                <div class="produto d-flex">
                    <ul class="produto__card">
                        <li >
                            <img class="produto__card produto__imagem" src="/static/img/Naycilly GiftBox 3.jpg" alt="">
                        </li>
                        <li>
                            <h5 class="produto__card produto__titulo mt-2">Box Presente</h4>
                        </li>
                        <li>
                            <h4 class="produto__card produto__preco "><bold>£15.00</bold></h3>
                        </li>
                        <li>
                            <a class="produto__card produto__link "href="/templates/produto.html">Ver produto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </main>

    <footer>
        <div class="rodape">
            <div class="rodape-conteudo d-flex  align-items-start flex-wrap">
                <div class="d-flex rodape-conteudo-1 justify-content-between">
                    <div class="d-flex justify-content-center align-items-baseline gap-4 ">
                        <img class="nav--logo rodape-logo" src="../static/img/CreationsPreta.png" alt="Logo da Creations Atelier">
                        
                    </div>
                    <div class="rodape-links mx-5">
                        <ul>
                            <a href=""><li class="rodape-links--link my-3">Quem somos nos</li></a>
                            <a href=""><li class="rodape-links--link my-3">Politica de privacidade</li></a>
                            <a href=""><li class="rodape-links--link my-3">Programa de fidelidade</li></a>
                            <a href=""><li class="rodape-links--link my-3">Nossas lojas</li></a>
                            <a href=""><li class="rodape-links--link my-3">Quero ser franqueado</li></a>
                            <a href=""><li class="rodape-links--link my-3">Anuncie aqui</li></a>
                        </ul>
                    </div>
                </div>
                <div class="form-contato">
                    <form>
                        <div class="">
                            <h5><b>Fale conosco</b></h5>
                        </div>
                        <div class="form-floating">
                            <input class="form-control mb-2" placeholder="Nome" id="inputNome" ></input>
                            <label for="inputNome">Nome</label>
                          </div>
                        <div class="form-floating mb-2">
                            <input class="form-control" placeholder="Email" id="inputEmail"></input>
                            <label for="inputEmail">Email</label>
                          </div>
                        <div class="form-floating">
                            <textarea class="form-control mb-4" placeholder="Escreva sua mensagem aqui" id="inputMensagem" style="height: 100px"></textarea>
                            <label for="inputMensagem">Escreva sua mensagem aqui</label>
                          </div>
                        <button type="submit" class="btn btn--principal">Submit</button>
                      </form>
                </div>
            </div>
        </div>
        <div class="text-center my-5 ">
            <h6>Desenvolvido por Rafael Almeida</h6>
            <h6>2022</h6>
        </div>

    </footer>
</body>
</html>